.container {
    height: 600px;
    width: 400px;
   
}


.search-bar {
    margin: 0 20px 0 20px;
    border: none;
    padding: 5px 10px 5px 10px;
    background: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 0px 0px 16px 16px;
    box-shadow: 0px 5px rgba(0, 0, 0, 0.2);
    color: #313131;
    font-size: 20px;
    transition: 0.4s ease;
}

 .search-bar:focus {
    background-color: rgba(255, 255, 255, 0.75);
  }

.location-box {
    padding-top: 60px;
  }

.location {
    margin: 0;
    color: #FFF;
    font-size: 32px;
    font-weight: 500;
    text-align: center;
    text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
  }

  .date {
      margin: 0;
    color: #FFF;
    font-size: 20px;
    font-weight: 300;
    font-style: italic;
    text-align: center;
    text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
  }

  .weather-box {
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

  }

  .temp {
    position: relative;
    display: inline-block;
    margin: 0 15px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    padding: 15px 25px;
    color: #FFF;
    font-size: 102px;
    font-weight: 700;
    text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
    text-align: center;
    box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
  }

  .weather {
    padding-top: 25px;
    color: #FFF;
    font-size: 32px;
    font-weight: 400;
    text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
  }

.wether-icon {
    width: 100px;
    height: 100px;
  }

 
.location-request {
    margin-top: 200px;
    color: #FFF;
    font-size: 32px;
    font-weight: 500;
    text-align: center;
    text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}

button {
    border: none;
    border-radius: 25%;
    margin: 10px;
    font-size: 24px;
    font-weight: 700;
    padding: 15px 20px;
    background-color:  #ffffff;
}

button:hover {
    background-color:  #00c4ff;
}
button:active,
button:focus {
    outline: none;
}

